[user]
	name = Brian Maher
	email = x
[alias]
        l  = log --oneline --graph
        st = status
        co = checkout
        gerrit = push origin HEAD:refs/for/master
        draft = push origin HEAD:refs/drafts/master
[pull]
	rebase = true
[push]
	default = simple
[core]
	autocrlf = input
	editor = vim
[color]
	ui = auto
[pager]
	branch = false
