[user]
	name = Brian Maher
	email = briancmaher@gmail.com
[alias]
	l  = log --oneline
	st = status
	co = checkout
[pull]
	rebase = true
[push]
	default = simple
[core]
	autocrlf = input
	editor = vim
